type: "SNIPPET_NOTE"
folder: "d818b16dab07630b3b75"
title: "Disable System Integrity Protection"
description: "Disable System Integrity Protection"
snippets: [
  {
    name: "terminal.bash"
    mode: "Shell"
    content: '''
      csrutil enable --without debug
      reboot
    '''
  }
]
tags: []
isStarred: false
createdAt: "2016-12-16T20:28:00.542Z"
updatedAt: "2016-12-16T20:28:37.484Z"
