type: "MARKDOWN_NOTE"
folder: "d92270690725bca1ca48"
title: "SodaFix "
content: '''
  ## SodaFix ##
  Original ID : gh_ede491c568f6
  AppID : wxade5cf37c252df93
  AppSecret : 92f03d6e208e135b6412207f51175a8f
  requrest : https://64530415.qcloud.la
  socket : wss://64530415.ws.qcloud.la
  uploadFile : https://64530415.qcloud.la
  downloadFile : https://64530415.qcloud.la
'''
tags: []
isStarred: false
createdAt: "2016-12-26T05:19:28.839Z"
updatedAt: "2016-12-26T05:24:47.148Z"
