type: "MARKDOWN_NOTE"
folder: "964d33dd63874b35ef99"
title: "Welcome to Boostnote!"
content: '''
  # Welcome to Boostnote! 
  ### _Click to edit this note._
  
  ---
  
  Boostnote is an *open source* note-taking app. 
  Repository is published on [GitHub](https://github.com/BoostIO/Boostnote), and tweeting everyday on [@Boostnoteapp](https://twitter.com/boostnoteapp)!
  
  ## Features 
  - [x] No Internet and Registration Required. 
  - [ ] Quick search and copy the content of note. `macOS: Cmd + Alt + S / windows: Ctrl + Alt + S` 
  - [ ] Markdown & Snippet note. 
  - [ ] Available for `vim` and `emacs` mode. 
  - [ ] Choose your favorite theme on UI, Editor and Code Block! 
  --- 
  
  - Copy Codeblock on Markdown Preview.
  ```javascript
  var boostnote = document.getElementById('enjoy').innerHTML
  
  console.log(boostnote)
  ```
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-08-29T21:27:20.579Z"
updatedAt: "2017-08-29T21:27:25.962Z"
